.header__lang {
  display: flex;
  margin: 30px 16px 0 0;
}

.header__lang-link {
  width: 22px;
  height: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  color: #ffffff;
  margin-left: 16px;
  transition: opacity 0.25s linear;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 70%;
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .header__lang {
    margin: 46px 24px 0 0;
  }

  .header__lang-link {
    font-size: 24px;
    width: 30px;
    height: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .header__lang {
    margin: 46px 48px 0 0;
  }

  .header__lang-link {
    font-size: 24px;
    width: 30px;
    height: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .header__lang {
    margin: 46px 48px 0 0;
  }

  .header__lang-link {
    font-size: 24px;
    width: 30px;
    height: 28px;
  }
}
