.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 12px;
  padding: 64px 16px 0;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    gap: 16px;
    padding: 88px 24px 0;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    gap: 14px;
    padding: 92px 48px 0;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    gap: 16px;
    padding: 92px 48px 0;
  }
}