.places {
  padding-top: 64px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .places {
    padding-top: 88px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    padding-top: 92px;
    padding-left: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    padding-top: 92px;
    padding-left: 148px;
  }
}
