.places__website_url-heading {
  border: solid red 1px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  letter-spacing: 2px;
  color: #aaaaaa;
  /* margin-left: 16px;
  margin-right: 16px;
  margin-top: 22px; */
  margin: 32px 16px 12px;
}
