.intro__list {
  margin: 34px 16px 0;
  list-style: none;
  padding-left: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;

  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .intro__list {
    margin: 33px 24px 0;
  }
}

@media screen and (min-width: 1024px) {
  .intro__list {
    margin: 33px 48px 0;
  }
}

@media screen and (min-width: 1280px) {
  .intro__list {
    margin: 33px 148px 0;
  }
}
