.places__title {
  width: 288px;
  height: 35px;
  margin: 50px 16px 0;
  border: solid red 1px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  /* identical to box height, or 109% */
}

.places__title:first-child  {
  margin-top: 0;
}