.places__title {
  font-style: normal;
  margin: 0;
  padding: 0 16px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (max-width: 1023px) {
  .places__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 424px) {
  .places__title {
    font-size: 32px;
    line-height: 1.09;
    padding: 0 16px;
  }
}
