.header__logo {
  width: 142px;
  height: 42px;
  margin-top: 16px;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 176px;
    height: 52px;
    margin-top: 28px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .header__logo {
    margin-left: 48px;
  }
}
