.places__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  padding: 0 16px;
}

@media screen and (max-width: 767px) {
  .places__text {
    margin-top: 32px;
    font-size: 16px;
  }
}
