.header {
  /* min-width: 288px;
  min-height: 42px; */
  display: flex;
  justify-content: space-between;
  border: blue 1px solid;
  /* padding-left: 16px; */
  /* padding-right: 16px; */
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1280px) {

}
