.footer__link {
  border: solid 1px red;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  list-style: none;
  color: #ffffff;
  text-decoration: none;
  padding: 32px 0 0;
  transition: opacity 0.25s linear;
  /* identical to box height, or 100% */
}

.footer__link:first-of-type {
  padding-top: 0;
}

.footer__link:hover {
  opacity: 70%;
}

.footer__link-column {
  display: flex;
  flex-direction: column;
}
