.footer__link-column {
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .footer__link-column {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(5, auto);
  }
}

.footer__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.25s linear;
}

@media screen and (max-width: 767px) {
  .footer__link:first-of-type {
    padding-top: 0;
  }
}

.footer__link:hover {
  opacity: 70%;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    padding: 32px 0 0;
  }
}
