.lead__title {
  /* width: 288px;
  height: 88px; */
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  border: blue 1px solid;
  margin: 48px 16px 0;
}

@media screen and (min-width: 768px) {
  .lead__title {
    margin: 48px 24px 0;
    font-size: 96px;
    line-height: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    margin: 48px 152px 0;
    font-size: 96px;
    line-height: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    margin: 56px 280px 0;
    font-size: 96px;
    line-height: 100px;
  }
}
