.footer__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */
  padding-top: 48px;
  margin: 0;
  border: solid red 1px;
}
