.footer__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  padding-top: 48px;
  margin: 0;
  border: solid red 1px;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-top: 0px;
    line-height: 16px;
  }
}
