.places__card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr;
  margin-bottom: 50px;
}

.places__card:last-of-type {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .places__card {
    column-gap: 28px;
    row-gap: 48px;
    grid-template-columns: 1fr 1.1fr;
    margin-bottom: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .places__card {
    column-gap: 32px;
    row-gap: 48px;
    grid-template-columns: 1fr 1.1fr;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .places__card {
    column-gap: 40px;
    row-gap: 48px;
    grid-template-columns: 1fr 1.1fr;
    margin-bottom: 80px;
  }
}
