.intro__text {
  margin: 40px 16px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (min-width: 768px) {
  .intro__text {
    margin: 40px 24px 0;
  }
}

@media screen and (min-width: 1024px) {
  .intro__text {
    margin: 40px 48px 0;
  }
}

@media screen and (min-width: 1280px) {
  .intro__text {
    margin: 40px 148px 0;
  }
}