.lead__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 16px 16px 0;
  max-width: 288px;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    margin: 32px 64px 0;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__subtitle {
    margin: 32px 192px 0;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin: 32px 320px 0;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
  }
}
