.lead__subtitle {
  border: red 1px solid;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  text-align: center;
  color: #ffffff;
  margin: 16px 16px 0;
}
