.cover {
  margin-top: 66px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 200px;
  transition: opacity 0.25s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover:hover {
  opacity: 70%;
}

@media screen and (min-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    min-height: 740px;
  }
}
