.lead__caption {
  margin: 8px 0 0 16px;
  min-width: 158px;
  height: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    margin-left: 0;
  }
}
