.lead__caption {
  margin-top: 8px;
  margin-left: 16px;
  min-width: 158px;
  height: 14px;
  border: red 1px solid;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .lead__caption {
    /* margin-top: 8px;
    margin-left: 24px; */
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    /* margin-top: 8px;
    margin-left: 48px; */
    margin-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .lead__caption {
    /* margin-top: 8px;
    margin-left: 148px; */
    margin-left: 0;
  }
}
