.cover__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
  }
}
