.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  padding-top: 33px;
  max-width: 288px;
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    padding-top: 115px;
    max-width: 560px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    padding-top: 195px;
    max-width: 560px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    padding-top: 245px;
    max-width: 560px;
  }
}
