.places__website_link {
  border: solid 1px red;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  text-decoration-line: underline;
  color: #ffffff;
  margin-left: 16px;
  margin-right: 16px;
  transition: opacity 0.25s linear;
}

.places__website_link:hover {
  opacity: 70%;
}
