.places__website {
  align-self: end;
  margin: 0;
  padding: 0;
  border: solid red 1px;
}

@media screen and (min-width: 768px) {
  .places__website {
  }
}

@media screen and (min-width: 1024px) {
  .places__website {
  }
}

@media screen and (min-width: 1280px) {
  .places__website {
  }
}
