.places__url-heading {
  display: block;
  font-family: Inter;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
  margin: 0 0 12px;
}

@media screen and (max-width: 767px) {
  .places__website_url-heading {
    margin-top: 32px;
  }
}
