.intro__title {
  margin: 64px 16px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
}

@media screen and (min-width: 768px) {
  .intro__title {
    margin: 88px 24px 0;
    font-size: 54px;
    line-height: 58px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__title {
    margin: 92px 48px 0;
  }
}

@media screen and (min-width: 1280px) {
  .intro__title {
    margin: 92px 148px 0;
  }
}
