.intro__title {
  /* margin: 0 16px;
  padding: 64px 0 0; */
  margin: 64px 16px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  border: solid 1px red;
}

@media screen and (min-width: 768px) {
  .intro__title {
    /* padding: 88px 0 0;
    margin: 0 24px; */
    margin: 88px 24px 0;
    font-size: 54px;
    line-height: 58px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__title {
    /* padding: 92px 0 0;
    margin: 0 48px; */
    margin: 92px 48px 0;
  }
}

@media screen and (min-width: 1280px) {
  .intro__title {
    /* padding: 92px 0 0;
    margin: 0 148px; */
    margin: 92px 148px 0;
  }
}
